#home-page {
  .intro-txt {
    max-width: 900px;
  }
}

.interview-page {
  .content {
    width: 70%;
  }

  .left-box {
    width: 60%;
  }
  .right-box {
    width: 35%;
  }
  iframe {
    aspect-ratio: 16/10.7;
    border-radius: 15px;
  }

  .video-link {
    text-decoration: underline;
  }
}

#footer {
  background-color: var(--color-text);
  padding: 55px;
  
  p, a {
    color: var(--color-bg);
  }

  .h-logo {
    color: var(--color-bg);
  }

  .link {
    &:hover {
      text-decoration: underline;
    }
  }
}