.choices-page {
  .choice-card {
    max-width: 250px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .063);
    border-radius: 10px;

    .choice-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      aspect-ratio: 1/1.3;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    &:hover {
      transform: scale(1.03);
    }

    transition: 0.1s;
  }

  .bottom {
    padding: 0px 15px;
  }
}

#popup-intro-choices {
  img {
    max-width: 200px;
    border-radius: 8px;
  }

  .img-1 {
    aspect-ratio: 1/2;
    object-fit: cover;
  }
  .img-2, .img-3 {
    aspect-ratio: 1/1;
    object-fit: cover;
  }
}