@use "../text" as t;

.nutriscore-box > div:last-child > .text {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.nutriscore-box > div:first-child > .text {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.active {
  border-radius: 5px;
}

.not-nutriscore {
  width: 120px;
  height: 32px;
  background-color: #e3e3e3;
  border-radius: 5px;
}