.popup-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;

  .popup-content {
    background-color: var(--color-bg);
    padding: 25px;
    border-radius: 15px;
  }
}