@use "../utils" as u;

.popup-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;

  .popup-content {
    background-color: var(--color-bg);
    padding: 30px;
    border-radius: 15px;
    max-width: 450px;
    @include u.gap(3);

    p, h1, h2, h3, h4, h5 {
      text-align: center;
    }
  }
}