// Gap

@mixin gap($i) {
  gap: $i * 0.5rem;
}

@for $i from 1 through 10 {
  .gap-#{$i} {
    display: flex;
    @include gap($i);
  }
}

// Flex

@mixin flex(
  $direction: row,
  $justify: flex-start,
  $align: stretch,
  $wrap: nowrap,
  $gap: null
) { 
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
  @if $gap != null { @include gap($gap); }
}

@mixin flex-center($direction: row) {
  @include flex($direction, center, center);
}

.flex {
  @include flex();
}
.flex-column {
  @include flex(column);
}
.flex-wrap {
  @include flex($wrap: wrap);
}
.flex-center {
  @include flex($justify: center, $align: center)
}