@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Molle:ital@1&display=swap');

$font-base: "Montserrat";
$font-special: "Molle";